{{ define "main" }}


<div class="px-4 pt-8 md:pt-16 pb-12 w-full max-w-2xl mx-auto">
	<div class="-mx-4">
		<main class="w-full px-4">


				<div class="md:flex md:flex-row-reverse justify-between items-baseline">
	                {{ partial "editpage.html" .}}
					<h1 class="text-3xl md:text-4xl my-4">{{ .Title }}</h1>
				</div>
				<p class=" leading-loose text-xl">

					{{ .Param "description" }}
				</p>

			{{ .Content }}

			{{ $list := .CurrentSection.Pages }}
			{{ $parent := .Page }}

			{{ $curPage := .UniqueID }}
			{{ $.Scratch.Set "counter" 0 }}


			<div class="px-4"></div>
			<div class="-mx-4 flex flex-wrap">

			{{ range $index, $element := $list.ByWeight }}
			   {{if eq .CurrentSection $parent}}

					{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}

				   <div class="w-full sm:w-6/12 lg:w-4/12 px-4">
					   <div class="p-4 w-full">
						   <article class="article">
							   <h2 style="margin-top: 0;">
							   {{$.Scratch.Get "counter"}}. {{ .Title }}
							   </h2>
							   <p>
							   		{{ .Param "description" }}
							   </p>
						   </article>



						   <a href="{{.Permalink }}" class="no-underline text-white bg-blue-dark hover:bg-yellow-light hover:underline hover:text-black px-6 py-4 text-lg rounded block my-4 flex justify-between">
							   <span>{{ .Title }}</span> 
							   <i data-feather='chevron-right' class='self-center w-4 h-4 ml-2'></i></a>

					   </div>
				   </div>
			   {{ end }}
			{{ end }}

			</div>



		</main>
	</div>
</div>

{{ end }}
